.hero-home {
    .hero-container {
        width: 100%;
        height: 100vh;
    }
}

#hero-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}