@use '../variables';

.home-hero {
    position: relative;

    .home-hero-content {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 9px;

        .hero-text {
            position: fixed;
            text-align: center;

            @media(min-width:variables.$tablet-breakpoint) {
                margin-top: 10rem;
            }

            .hero-heading {
                font-size: 40px;
                font-weight: 400;
                letter-spacing: 5px;
                margin: 0;
            }

            .line {
                display: block;
                width: 250px;
                border-bottom: 2px solid #FFF;
                margin: auto;
            }

            .hero-caption {
                font-size: 24px;
                letter-spacing: 3px;
                color: var(--accent-color);
                margin: 6px 0 0;
            }
        }
    }

    .home-hero-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        .background-overlay {
            width: 100%;
            height: 100%;
            background: radial-gradient(
                circle,
                rgba(0, 0, 0, 0.85) 0%,
                rgba(0, 0, 0, 0.98) 100%
            );
            opacity: 0.8;
        }
    }
}

.hero-logo {
    display: none;
    width: 115px;
    max-width: 100%;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: 99999;

    @media(min-width:variables.$tablet-breakpoint) {
        display: block;
    }
}

.admin-bar .home-bio {
    min-height: calc(100vh - 139px - 64px);
}

.home-bio {
    min-height: calc(100vh - 139px);
    padding: 80px 5% 40px;

    &>.section-inner {
        display: flex;
        align-items: center;
    }

    .bio-container {
        width: 776px;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media(min-width:variables.$tablet-breakpoint) {
            flex-direction: row;
            gap: 40px;
        }

        .bio-image {
            width: 100%;
            max-width: 200px;

            .profile-image {
                border-radius: 100%;
            }
        }

        .bio-content {
            line-height: 1.7rem;

            p {
                line-height: 1.3rem;
            }

            *:first-child {
                margin-top: 0;
            }
        }
    }
}

.page-template-template-home {
    .site-header {
        position: absolute;
        top: 100vh;
        top: 100dvh;
        left: 0;
        width: 100%;

        .desktop-logo {
            display: none;
        }
    }

    .header-trigger {
        position: absolute;
        top: calc(100% + 68px);
        left: 0;
        width: 100%;
        height: 1px;
        pointer-events: none;
    }
}