@use '../variables';

.project-content {
    background-color: var(--background-color);
    padding: 5px 0px 50px;
    
    .project-header {
        max-width: 750px;
        margin: 0 auto;
        padding: 35px 0px;
        text-align: center;
        
        .project-title {
            font-size: 48px;
            line-height: 1.1em;
            margin: 0 0 12px;
            color: var(--text-color);
        }

        .project-tags {
            color: var(--accent-color);
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    .project-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Text content constrained
        p {
            font-size: 16px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 2rem;
            color: var(--text-color);

            @media(min-width: variables.$desktop-breakpoint) {
                padding: 0 25px;
            }
        }

        // Full-width images
        .wp-block-image {
            margin: 35px 0;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: variables.$border-radius;
            }
        }

        // Full-width galleries
        .wp-block-gallery {
            margin: 35px 0;
        }
    }

    .project-pagination {
        padding-top: 30px;

        .pagination-controls {
            display: grid;
            grid-template-columns: 1fr minmax(auto, 240px) 1fr;
            gap: 1.2rem;

            a {
                color: var(--accent-color);
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 12px;
                letter-spacing: 3px;

                &[rel=next], &[rel=prev] {
                    background-color: var(--primary-color);
                    padding: 14px;
                    border-radius: variables.$border-radius;
                    width: fit-content;

                    .pag-btn-text {
                        display: none;
                    }

                    @media(min-width: variables.$tablet-breakpoint) {
                        padding: 19px;

                        .pag-btn-text {
                            display: block;
                        }
                    }
                }

                &[rel=next] {
                    grid-column: 1;
                    justify-self: end;

                    .pag-btn-text {
                        text-align: right;
                    }
                }

                &[rel=prev] {
                    grid-column: 3;
                    justify-content: flex-end;
                }
            }

            .pag-btn-back {
                grid-column: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    @media(min-width: variables.$tablet-breakpoint) {
        padding-top: 50px;
        
        .pagination-controls {
            grid-template-columns: 320px auto 320px;

            a {
                .pag-btn-link {
                    padding: 6px;
                }
            }
        }
    }
}