@use '../variables';

.project-content {
    background-color: var(--background-color);
    padding: 5px 0px 50px;
    
    .project-header {
        max-width: 750px;
        margin: 0 auto;
        padding: 35px 0px;
        text-align: center;
        
        .project-title {
            font-size: 48px;
            line-height: 1.1em;
            margin: 0 0 12px;
            color: var(--text-color);
        }

        .project-tags {
            color: var(--accent-color);
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    .project-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Text content constrained
        p {
            font-size: 16px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 2rem;
            color: var(--text-color);

            @media(min-width: variables.$desktop-breakpoint) {
                padding: 0 25px;
            }
        }

        // Full-width images
        .wp-block-image {
            margin: 35px 0;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: variables.$border-radius;
            }
        }

        // Full-width galleries
        .wp-block-gallery {
            margin: 35px 0;
        }
    }

    .project-pagination {
        .pagination-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: var(--accent-color);
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 12px;
                letter-spacing: 3px;

                &:not(:nth-child(2)) {
                    background-color: var(--primary-color);
                    padding: 19px;
                    border-radius: variables.$border-radius;
                    .pag-btn-text {
                        display: none;
                        
                        @media(min-width: variables.$tablet-breakpoint) {
                            display: block;
                        }
                    }
                }

                &:last-child {
                    text-align: right;
                }

                .pag-btn-link {
                    border-width: 0 3px 3px 0;
                    padding: 6px;
                    bottom: 0px;
                }

                .pag-btn-text {
                    display: inline-block;
                    max-width: 230px;
                }
            }
        }
    }
}