// Width utilities
@mixin centred-width($width) {
  max-width: #{$width}px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group,
.wp-block-image,
.wp-block-gallery {
  &.is-style-width-750 {
    @include centred-width(750);
  }
  
  &.is-style-width-1300 {
    @include centred-width(1300);
  }
}