footer {
    background-color: var(--primary-color);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: var(--accent-color);
        margin: 0;
    }

    .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        list-style: none;
        margin: 16px 0px;
        padding: 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            background: var(--accent-color);
            border-radius: 18px;
            color: var(--primary-color);
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

            i {
            font-size: 1.5rem;
            }

            &:hover {
            transform: translateY(-4px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            &:active {
            transform: translateY(-2px);
            }
        }
    }

    .footer-message {
        text-align: center;
    }
}