// :root {
//     --ui-darker: #1e1e1e;
//     --ui-dark: #323232;
//     --ui-mid: #464646;
//     --ui-light: #ccc;
// }

// Breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1024px;

// Section padding
$section-padding: 30px;