@use 'variables';

* {
    font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}

.page,
.page-content {
    margin: 0;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

body {
    background-color: var(--background-color);

    .section {
        display: flex;
        justify-content: center;

        .section-inner {
            width: 100%;
            max-width: min(100%, variables.$tablet-breakpoint);
            padding: 0px 15px;
        }
    }

    .divider {
        border-bottom: 2px solid var(--text-color);
    }
}

@media(min-width: variables.$tablet-breakpoint) {
    body {
        .section {
            .section-inner {
                max-width: min(100%, variables.$desktop-breakpoint);
            }
        }
    }
}

@media(min-width: variables.$desktop-breakpoint) {
    body {
        .section {
            .section-inner {
                max-width: min(100%, 1340px);
            }
        }
    }
}

// Icons
.i-chevron {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: initial;
    display: inline-block;
    padding: 3px;
    position: relative;

    &.up {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        bottom: 0.2em;
    }
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        bottom: 0.2em;
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: .1em;
    }
    &.right {
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        right: .1em;
    }
}